	<div id="header">
				<div id="headerBanner">
			<!--<div><%= image_tag("http://dealsoutlet.net/media/logo/top_banner_l.gif", border: "0") %></div>-->
			<div><img border="0" src="http://dealsoutlet.net/media/logo/top_banner_l.gif"/></div>
			<div id="headerLogo"><a rel="nofollow" href= <%= root_path %>><%= image_tag("http://dealsoutlet.net/media/logo/dealsoutlet.gif", alt: "Deals Outlet", boarder: "0")%></a></div>  
			<div id="headerSearch">
			  <div id="searchBox">
				<form onsubmit="return searchDeals()">
				<input id="search" type="text" value="Search deals" name="search" onblur="if(this.value=='') { this.value='Search deals';}" onfocus="if(this.value=='Search deals') this.value='';"/>
				<input type="submit" value="Search" />
				</form>
			  </div>
			</div>
			<div><%= image_tag("http://dealsoutlet.net/media/logo/top_banner_r.gif", border: "0") %></div>
		</div>
		
		<div id="headerCategory">
			<div id="topMenuShim">&nbsp;</div>
			<div><img border="0" src="http://dealsoutlet.net/media/logo/top_menu_l24.png"/></div>
			<% @dealers.each do |d| %>
				<div class="topMenu"><img class="bulletYellow" border="0" src="http://dealsoutlet.net/media/logo/bullet_yellow.png"/><a href="/dealers/<%= d.id %>"> <%= d.name %> </a></div>
			<% end %>
			<div class="topMenu"><img class="bulletYellow" border="0" src="http://dealsoutlet.net/media/logo/bullet_yellow.png"/><a href="/dealers/1">Amazon</a></div>
			<div><img border="0" src="http://dealsoutlet.net/media/logo/top_menu_r24.png"/></div>
		</div>
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
	</div>	<!-- end #header -->
	
  
